.hero{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 300px;
    margin-right: 300px;
    /* width: max-content; */
}

nav{
    display: flex;
    flex: 1;
}

ul{
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: flex-end;
    align-items: baseline;
    padding-left: 0;
}

li{
    font-size: 18px;
}

a{
    text-decoration: none;
}

.secondary-links{
    margin-left: 15px;
}

@font-face {
    font-family: Cat;
    src: url(meows-font/Meows-VGWjy.ttf);
}

.cat-logo{
    font-size: 40px;
    font-family: Cat;
    margin-right: auto;
}

.hero-content{
    display: flex;
}
.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 15px;
}

.hero-main{
    font-size: 44px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-sub{
    
}

.hero-sign-up{
    width: max-content;
}

.hero-image{
    height: 250px;
    flex: 1;
}